anyio==4.9.0
appdirs==1.4.4
astunparse==1.6.3
autograd==1.8.0
autoray==0.7.2
black==25.1.0
cachetools==6.2.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
contourpy==1.3.2
cycler==0.12.1
diastatic-malt==2.15.2
docutils==0.21.2
filelock==3.18.0
fonttools==4.58.5
fsspec==2025.5.1
gast==0.6.0
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
kiwisolver==1.4.8
loro==1.5.2
marimo==0.14.10
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
mypy_extensions==1.1.0
narwhals==1.45.0
networkx==3.5
numpy==2.3.1
packaging==25.0
pandas==2.3.0
parso==0.8.4
pathspec==0.12.1
pennylane==0.42.3
pennylane_lightning==0.42.0
pillow==11.3.0
platformdirs==4.3.8
psutil==7.0.0
Pygments==2.19.2
pymdown-extensions==10.16
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rustworkx==0.17.1
scikit-learn==1.7.0
scipy==1.16.0
scipy-openblas32==0.3.30.0.2
seaborn==0.13.2
six==1.17.0
sniffio==1.3.1
starlette==0.47.1
sympy==1.14.0
termcolor==3.1.0
threadpoolctl==3.6.0
tomlkit==0.13.3
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uv==0.7.15
uvicorn==0.35.0
websockets==15.0.1
